{% extends "base.html.twig" %}

{% block body %}
  <section class="book-success">
    <h3>Your travel has been succesfully booked !</h3>
    <a href="{{path('app_search')}}"></a>
  </section>
{% endblock body %}