$primary: #3e6259ff; // change the primary color to red
$secondary: #aef6c7ff; // change the secondary color to blue
$neutral: #5b8266ff; // change the neutral color to green
$dark: #294936ff; // change the dark color to black
$black: #212922ff; // change the background color to white
$font-sans-serif: 'Poppins', sans-serif !default;
$font-monospace: "Poppins", monospace !default;
$font-serif : "Raleway", serif !default;
// footer edition
.footer{
    background-image: url("../../public/build/img/Wave.svg") ;
    background-position:bottom;
    background-size:cover;
    background-repeat: no-repeat ;
    position:absolute;
    bottom: 0%;
    .footer-link{
        &:hover{
            transform: scale(1.1);
            transition: transform 0.5s ease-in-out;
            color: $black;
        }
        &:active{
            color: $black;
        }
    }
    
}
